h3 {
  text-align: center;
}

.header {
  min-height: 90px;
}

.container {
  background-color: DarkSeaGreen;
}

.about {
  background-color: rgb(22,150,163);
  min-height: 320px;
}

.aboutMe {
  text-align: center;
}

.aboutMeContent {
  text-align: center;
}

.thumbnail {
  margin: 20px;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bsCarousel{
	margin: 20px;
}

.carousel-caption {
  color: red;
}

.thumbnail {
  background-color: honeyDew;
}
/*
*, *:before, *:after {
    -webkit-text-size-adjust: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(28,28,28);
    color: white;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

p {
    overflow: auto;
}

h1 {
    text-align: center;
}

ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: block;
    color: rgb(37, 244, 227);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.top-nav li a:hover:not(.active) {
    background-color: #111;
}

ul.top-nav li a.active {
    background-color: #333;
}

ul.top-nav li a.active h3.name {
    margin:0;
    letter-spacing: .25px;
    font-weight: lighter;
}
ul.top-nav li.right {
    float: right;
}

.main-image {
    display: inline-block;
}

.main-image img{
    width: 75%;
}

.language-image {
    background-color: rgb(170, 228, 225);
    width: 100%;
}

.language-image img {
    width: 100%;
    margin-right: 25px;
    padding: 0px;
    border-radius: 25%;
}

.about-me {
    background-image: url(images/moon-rising.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-top: 25px;
}

.about-me .cartoon {  /*image img
    float: left;
    background-color: rgb(0,0,0,1);
    width: 25%;
    padding: 0px;
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 50%;
    border: 4px solid rgb(37, 244, 227);
}


.about-me .about-me-content {
    float: right;
    width: 33.3%;
    padding: 5px;
    margin: 25px;
    color: gold;
    border: 4px solid gold;
    border-radius: 10px;
}

.about-me .about-me-content p {
    line-height: 1.75rem;
    letter-spacing: 1.25px;
    font-size: large;
    max-width:100%;
    min-width:50%;
    max-height: 250px;
    min-height: 200px;
    padding: 10px;
    padding-bottom: 50px;
}

.funny-cartoon {
    background-image: url(images/rising-sun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.funny-cartoon .left-leela {
    display: inline-block;
    margin: 10px;
    padding: 0px;
    width: 30%;
    border-radius: 25%;
    border: 4px solid gold;
}

.funny-cartoon .right-leela {
    display: inline-block;
    float: right;
    margin-right: 40px;
    padding: 0px;
    width: 30%;
    border-radius: 25%;
    border: 4px solid rgb(37, 244, 227);
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
*/
